<p>
  page-designer works!

  <input type="button" value="Start" (click)="start()"/>

  <!--<dynamic-dropdown *ngIf="started" [context]="formsDropDown" ></dynamic-dropdown>-->
  <input type="text" [(ngModel)]="formName">

  <input type="button" value="new Form" (click)="createForm()"/>

  <select class="browser-default"
          (change)="onChange($event.target.value)"
          [(ngModel)]="formsDropDown.value">
    <option *ngFor="let item of formsDropDown.items"
            [value]=item[formsDropDown.bindValue]>
      {{item[formsDropDown.bindText]}}
    </option>
  </select>

<input type="button" value="Delete" (click)="deleteForm()"/>


  <!--<pre>{{ context.childrens | json}} </pre>-->
<!---->

<!--<pre>{{ selectedComponent | json}} </pre>-->
<input type="button" (click)="refreshContext()" value="Refresf">

</p>

<div class="row">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
  </div>


  <div class="col s2 scroll">
    <div *ngFor="let option of state.components; index as i;">
      <div draggable="true"
        [style.outlineColor]="dragging ? activeColor : baseColor"
           (dragstart)="onDragStart($event, option)"
      >{{option.name}}</div>
    </div>
  </div>

  <div class="col s2 scroll">
    <div *ngFor="let option of actions.operations; index as i;">
      <div draggable="true"
           [style.outlineColor]="dragging ? activeColor : baseColor"
           (dragstart)="onDragStart($event, option)"
      >{{getObjectName(option)}}
      </div>
    </div>
  </div>

  <div class="col s8">

    <div class="row" (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)">
      <span [hidden]="droppedData">Drop here</span>
      <span [hidden]="!droppedData">{{ droppedData }}</span>
    </div>

    <div class="row">

      <div class="col s6 d1 scroll">
        <!--<app-tree-designer [tree]="context.childrens"></app-tree-designer>-->
        <div *ngFor="let tItem of context.childrens; index as i;">
          <app-htmlnode [node]="tItem"></app-htmlnode>
        </div>
      </div>

      <div class="col s6 d2 scroll2">

        <div *ngIf="selectedComponent">

          <div *ngIf="selectedComponent.prop">
          <app-actionnode [node]="selectedComponent"></app-actionnode>
            </div>

          <!--<ul  *ngFor="let x of selectedComponent.actions" class="browser-default yyy">-->
            <!--<li>-->
              <!--<app-actionnode [node]="x"></app-actionnode>-->
            <!--</li>-->
          <!--</ul>-->
        </div>

      </div>

    </div>

  </div>


</div>


<div class="row">
  <div class="col s12">
    <!--<dynamic-content [context]="context"></dynamic-content>-->

    <app-custom-page [data]="context"></app-custom-page>
    </div>
  </div>

