<p>
  page-designer works!

  <input type="button" value="Start" (click)="start()"/>

  <!--<dynamic-dropdown *ngIf="started" [context]="formsDropDown" ></dynamic-dropdown>-->
  <input type="text" [(ngModel)]="formName">

  <input type="button" value="new Form" (click)="createForm()"/>

  <select class="browser-default"
          (change)="onChange($event.target.value)"
          [(ngModel)]="formsDropDown.value">
    <option *ngFor="let item of formsDropDown.items"
            [value]=item[formsDropDown.bindValue]>
      {{item[formsDropDown.bindText]}}
    </option>
  </select>

<input type="button" value="Delete" (click)="deleteForm()"/>


  <!--<pre>{{ context.childrens | json}} </pre>-->
<!---->

<!--<pre>{{ selectedComponent | json}} </pre>-->
<input type="button" (click)="refreshContext()" value="Refresf">

</p>

<div class="row">

  <!--https://www.tutorialspoint.com/materialize/materialize_tabs.htm-->
  <div class = "row">
    <div class = "col s12">
      <ul class = "tabs">
        <li class = "tab col s3"><a href = "#inbox">Inbox</a></li>
        <li class = "tab col s3"><a class = "active" href = "#unread">
          Unread</a></li>
        <li class = "tab col s3 disabled"><a href = "#outbox">
          Outbox (Disabled)</a></li>
        <li class = "tab col s3"><a href = "#sent">Sent</a></li>
      </ul>
    </div>

    <div id = "inbox" class = "col s12">Inbox</div>
    <div id = "unread" class = "col s12">Unread</div>
    <div id = "outbox" class = "col s12">Outbox (Disabled)</div>
    <div id = "sent" class = "col s12">Sent</div>
  </div>


  <div class="col s2 scroll">
    <div *ngFor="let option of state.components; index as i;">
      <div draggable="true"
        [style.outlineColor]="dragging ? activeColor : baseColor"
           (dragstart)="onDragStart($event, option)"
      >{{option.name}}</div>
    </div>
  </div>

  <div class="col s2 scroll">
    <div *ngFor="let option of actions.operations; index as i;">
      <div draggable="true"
           [style.outlineColor]="dragging ? activeColor : baseColor"
           (dragstart)="onDragStart($event, option)"
      >{{getObjectName(option)}}
      </div>
    </div>
  </div>

  <div class="col s8">

    <div class="row" (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)">
      <span [hidden]="droppedData">Drop here</span>
      <span [hidden]="!droppedData">{{ droppedData }}</span>
    </div>

    <div class="row">

      <div class="col s6 d1 scroll">
        <!--<app-tree-designer [tree]="context.childrens"></app-tree-designer>-->
        <div *ngFor="let tItem of context.childrens; index as i;">
          <app-htmlnode [node]="tItem"></app-htmlnode>
        </div>
      </div>

      <div class="col s6 d2 scroll2">

        <div *ngIf="selectedComponent">

          <div *ngIf="selectedComponent.prop">
          <app-actionnode [node]="selectedComponent"></app-actionnode>
            </div>

          <!--<ul  *ngFor="let x of selectedComponent.actions" class="browser-default yyy">-->
            <!--<li>-->
              <!--<app-actionnode [node]="x"></app-actionnode>-->
            <!--</li>-->
          <!--</ul>-->
        </div>

      </div>

    </div>

  </div>


</div>


<div class="row">
  <div class="col s12">
    <!--<dynamic-content [context]="context"></dynamic-content>-->

    <app-custom-page [data]="context"></app-custom-page>
    </div>
  </div>

