.d1
{
  /*background-color: #333;*/
  overflow: auto;
  white-space: nowrap;
  overflow-y:hidden;
  overflow-x:scroll;
}

/*.d1 div{*/
  /*border: 1px solid red;*/
/*}*/


.scroll {
  height: 400px;
  overflow: auto;
  /*border-left: 1px solid grey;*/
}
.scroll2{
  height: 400px;
  overflow: auto;
  /*border-left: 1px solid grey;*/
}


.widget-container {
  /*background-color: #282828;*/
}

.hidden {
  display: none;
}
