<!--nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->
<!--<pre>{{node | json}}</pre>-->

<sh-context-menu #menu>
  <ng-template shContextMenuItem let-data (click)="toggleProp($event)">
    <div>
      Toggle Properties
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="toggleActions($event)">
    <div>
      Toggle Actions
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="moveUpNode($event)">
    <div>
      Move Up
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="moveDownNode($event)">
    <div>
      Move Down
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="cutNode($event)">
    <div>
      Cut
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="copyNode($event)">
    <div>
      Copy
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="pasteNode($event)">
    <div>
      Paste
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="deleteNode($event)">
    <div>
      Delete
    </div>
  </ng-template>
</sh-context-menu>

<sh-context-menu #menuch>
  <ng-template shContextMenuItem let-data (click)="copyNode($event)">
    <div>
      Copy
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="pasteToChildrens($event)">
    <div>
      Paste
    </div>
  </ng-template>
</sh-context-menu>

<ul *ngFor="let o of keys" class="browser-default xxx">

  <!--<pre>{{o | json}}</pre>-->

  <li>

    <!--&& o.key !== 'childrens'-->

    <div *ngIf="o.key !== 'key' && o.key !== 'expanded'  && o.key !== 'prop' " >
      <span class="desc" *ngIf="o.key !== 'actions'  && (o.type !== 'object' && o.type !== 'array')">
        <!--aaaaaaaa-->
        <!--<label>{{o.key}} {{o.type}}</label>-->
        {{o.key}}
      </span>


      <span *ngIf="o.type === 'object' || o.type === 'array'">

        <div *ngIf="o.key === 'actions'" (click)="hideShowObject(o.value)" >
          <label (drop)="onDropAction($event, dropData)" (dragover)="allowDrop($event)">{{o.key}} {{o.type}}</label>
        </div>

        <div *ngIf="o.key === 'childrens'"
             (click)="hideShowObject(o.value)"
             [shAttachMenu]="menuch" [shMenuData]="o.value"
        >
          <label (drop)="onDropRowTemplate($event, dropData)" (dragover)="allowDrop($event)">
            <span class="dropable" [ngClass]="getClases(o.value)">{{o.key}} {{o.type}}</span>
          </label>
        </div>

        <div *ngIf="o.key !== 'actions' && o.key !== 'childrens'" (click)="hideShowObject(o.value)" >
          <!--llllllllll-->
          <span [ngClass]="getClases(o.value)">{{o.key}} {{o.type}}</span>
        </div>
      </span>
      <input *ngIf="o.type === 'number' || o.type === 'string'" type="text" [(ngModel)]="node[o.key]">


    <div *ngIf="o.type == 'boolean'">
      <!--<pre>{{parent | json}} </pre>-->
      <!--{{nodeid}}-->
      <input type="checkbox" [(ngModel)]="node[o.key]" id="{{nodeid}}"/>
      <label for="{{nodeid}}">
        {{o.key}}
      </label>

    </div>

    <div *ngIf="o.value.expanded">
      <ul *ngIf="o.type === 'object'" class="browser-default">
        <!--{{node | json}}-->
        <li>
          <button *ngIf="o.value.key" (click)="deleteParam(parent, o.value)">delete param </button>
          <app-actionnode [node]="o.value" [parent]="node"></app-actionnode>
        </li>
      </ul>

      <!--o.key !== 'childrens'-->
      <ul *ngIf="o.type === 'array'" class="browser-default">
        <!--{{o | json}}-->
        <button  *ngIf="o.key === 'actions'"(click)="addParam(node, $event)">add param </button>

        <li *ngFor="let el of o.value;index as i;" class="browser-default1">
          <ul>
           <div
             [shAttachMenu]="menu" [shMenuData]="el"
             (click)="hideShowObject(el)">
             <span [ngClass]="getClases(el)"> {{i}} {{el.type}}</span>
                <!--index -  {{el.type}}-->
           </div>
            <app-actionnode *ngIf="el.expanded" [node]="el" [parent]="node" ></app-actionnode>
          </ul>
            </li>

        <!--<li>-->

        <!--<app-actionnode [node]="o.value" [parent]="node" ></app-actionnode>-->

        <!--</li>-->
      </ul>
    </div>
    </div>
  </li>

</ul>
