<!--nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->
<!--<pre>{{node | json}}</pre>-->

<ul *ngFor="let o of node | keysToArray" class="browser-default">

<!--<pre>{{o | json}}</pre>-->
  <li>

    <div *ngIf="o.key !== 'key' && o.key != 'childrens'" >
      <label>{{o.key}} {{o.type}}</label>
      <input *ngIf="o.type === 'number' || o.type === 'string'" type="text" [(ngModel)]="node[o.key]">
    </div>
    <ul *ngIf="o.type === 'object'" class="browser-default">
      <li>
        <button *ngIf="isArray" (click)="deleteParam(o.value)">delete param </button>
        <app-actionnode [node]="o.value"></app-actionnode>
      </li>
    </ul>

    <ul *ngIf="o.type === 'array' && o.key != 'childrens'" class="browser-default">
      <button (click)="addParam(node)">add param </button>
      <li>

        <app-actionnode [node]="o.value" [isArray]="true"></app-actionnode>

      </li>
    </ul>

  </li>

</ul>
