<!--nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->

<!--<pre>{{node | json}}</pre>-->
<ul *ngFor="let o of node | keysToArray" class="browser-default">

<!--<pre>{{o | json}}</pre>-->
  <li *ngIf="o.key == 'type'" (click)="titleClick(node)" [ngClass]="getClases(node)" (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)">
    {{o.value}}
  </li>

  <li *ngIf="node.expanded" >
    <div *ngIf="o.key == 'value'">
      <div class="row">
        <div class="col c1">
          value
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.value">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'id'">
      <div class="row">
        <div class="col c1">
          id
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.id">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'name'">
      <div class="row">
        <div class="col c1">
          name
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.name">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'text'">
      <div class="row">
        <div class="col c1">
          text
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.text">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'class'">
      <div class="row">
        <div class="col c1">
          class
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.class">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'bindText'">
      <div class="row">
        <div class="col c1">
          bindText
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.bindText">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'bindValue'">
      <div class="row">
        <div class="col c1">
          bindValue
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.bindValue">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'checkedProperty'">
      <div class="row">
        <div class="col c1">
          checkedProperty
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.checkedProperty">
        </div>
      </div>
    </div>

    <div *ngIf="o.key == 'controlType'">
      <div class="row">
        <div class="col c1">
          controlType
        </div>
        <div class="col c1">
          <input type="text" [(ngModel)]="node.controlType">
        </div>
      </div>
    </div>


    <div *ngIf="o.key == 'validation'">
      <div class="row">
        <div class="col c1">
          validation
        </div>
        <div class="col c1">
          <ul *ngFor="let vProp of node.validation | keysToArray" class="browser-default">
            <li>{{vProp.key}} <input type="text" [(ngModel)]="node.validation[vProp.key]"></li>
          </ul>

        </div>
      </div>
    </div>

    <ul *ngIf="o.key == 'children'" class="browser-default">
      <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
      <!--{{o.value}}-->
        <app-htmlnode [node]=o.value></app-htmlnode>
    </ul>

    <ul *ngIf="o.key == 'childrens'" class="browser-default">
      <li *ngFor="let el of o.value">
        <app-htmlnode [node]=el></app-htmlnode>
      </li>
    </ul>



  </li>


</ul>
