ul {list-style-type: none;}

ul li.notexpanded
{
  list-style-image: url(./../Content/images/arw1.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  /*font-size: 15px;*/
  /*color: #494949;*/
  /*line-height: 2;*/
  /*text-align: justify;*/
  /*cursor: pointer;*/
}

ul li.expanded
{
  list-style-image: url(./../Content/images/arw2.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  /*font-size: 15px;*/
  /*color: #494949;*/
  /*line-height: 2;*/
  /*text-align: justify;*/
  /*cursor: pointer;*/
}


ul li span.notpexp
{
  background-image: url(./../Content/images/arw1.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
}

ul li span.pexp
{
  background-image: url(./../Content/images/arw2.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
  font-weight: bold;
}

ul li span.notrexp
{
  background-image: url(./../Content/images/arw1.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
}

ul li span.rexp
{
  background-image: url(./../Content/images/arw2.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
}


ul li span.expanded
{
  background-image: url(./../Content/images/arw2.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
}

ul li span.notexpanded
{
  background-image: url(./../Content/images/arw1.png);
  /*font-family: Verdana,Geneva,Tahoma,Arial,Helvetica,sans-serif;*/
  background-repeat: no-repeat;
  padding-left: 5px;
}
