<!--nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->
<sh-context-menu #menu>
  <ng-template shContextMenuItem let-data (click)="toggleProp(node)">
    <div>
      Toggle Properties
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="toggleActions(node)">
    <div>
      Toggle Actions
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="moveUpNode(node)">
    <div>
      Move Up
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="moveDownNode(node)">
    <div>
      Move Down
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="cutNode(node)">
    <div>
      Cut
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="copyNode(node)">
    <div>
      Copy
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="pasteNode(node)">
    <div>
      Paste
    </div>
  </ng-template>
  <ng-template shContextMenuItem let-data (click)="deleteNode(node)">
    <div>
      Delete
    </div>
  </ng-template>
</sh-context-menu>

<ul *ngFor="let o of node | keysToArray" class="my browser-default">


<!--<pre>{{o | json}}</pre>-->
  <li *ngIf="o.key == 'type'"   >

    <ul class="my">
      <li>
        <div class="row"   >


            <div class="col"
                 (click)="titleClick(node)"
                 (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)"
                 [shAttachMenu]="menu" [shMenuData]="node"
            >
              <span [ngClass]="getClases(node)">&nbsp;</span>
              <span [ngClass]="getPropClases(node)" >{{o.value}} </span>

            </div>

          <div class="col" >
            <span (click)="toggleProp(node)">{{node.key}}</span>
            </div>
          <!--<div class="col" >-->

            <!--<span [ngClass]="getPropClases(node)">&nbsp;</span>-->
            <!--<span-->
              <!--(click)="toggleActions(node)"-->
              <!--(drop)="onDropAction($event, dropData)" (dragover)="allowDrop($event)"-->
            <!--&gt;Actions</span>-->
          <!--</div>-->

          <!--<div class="col" *ngIf="node.rowTemplate">-->
            <!--<span [ngClass]="getTemplateClases(node)">&nbsp;</span>-->
            <!--<span (click)="toggleRowTemplate(node)">Row Template</span>-->
          <!--</div>-->

        </div>
      </li>
    </ul>

  </li>

  <ul>
    <!--<li *ngIf="o.key == 'actions' && node.showActions">-->
      <!--<ul *ngFor="let x of node.actions" class="browser-default">-->
        <!--<li>-->
          <!--<app-actionnode [node]="x"></app-actionnode>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->






    <li *ngIf="node.showRowTemplate">
      <!--{{o.key}}-->
      <app-htmlnode  *ngIf="o.key == 'rowTemplate'" [node]="node.rowTemplate"></app-htmlnode>
    </li>

  </ul>


  <li *ngIf="node.expanded" >
    <ul *ngIf="o.key == 'children'" class="my browser-default">
      <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
      <!--{{o.value}}-->
        <app-htmlnode [node]=o.value></app-htmlnode>
    </ul>

    <ul *ngIf="o.key == 'childrens'" class=" my browser-default">
      <li *ngFor="let el of o.value">
        <app-htmlnode [node]=el></app-htmlnode>
      </li>
    </ul>

  </li>


</ul>



