<p>
  custom-page works!
</p>


<div class="row">
  <div class="input-field col s6">
    <input id="last_name" type="text">
    <label for="last_name">Last Name</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="last_name1" type="text">
    <div class="f">
    <label >Last Name1</label>
      </div>
  </div>
</div>

<pre>{{error | json}} </pre>

<!--<pre>{{context | json}} </pre>-->

<pre>{{formValues | json}} </pre>



<dynamic-container [context]="context"></dynamic-container>
